<div id="about">
  <!-- pos -->
  <!-- background -->
  <!-- intrests -->
</div>

<div id="resume">
  <!-- resume -->
</div>

<div id="portfolio">
  <!-- github link -->
  <!-- projects area -->
</div>

<div id="contact">
  <!-- info -->
  <!-- nodemailer -->
  <!-- t feed -->
  <div id="contact" class="container">
    <!-- Example row of columns -->
    <div class="row">

      <h4>Feel free to contact me through one of the options below.</h4>
      <div class="col-md-3">
        <address>
          <p><i class="fa fa-info"></i>Contact Information:</p>
          <strong>Matthew Pengelly</strong><br>
          github: mcpengelly<br>
          location: Ontario, Canada; Downtown Ottawa<br>
          <abbr title="Phone">P:</abbr> (613) 915-8054
        </address>

        <address>
          <strong>Want to tell me something?:</strong><br>
        </address>
      </div>

      <div class="col-md-4">
        <form class="form-horizontal" role="form">
          <div class="form-group">
            <label for="contact-name" class="control-label">Name:</label>
            <input type="text" class="form-control" id="contact-name" placeholder="anonymous">

            <label for="contact-email">Email:</label>
            <input type="text" class="form-control" id="contact-email" placeholder="enter your e-mail address if you want me to respond to your message.">

            <label for="comment">Comment:</label>
            <textarea class="form-control" rows="4" id="comment" placeholder="something you want to tell me?"></textarea>
            <button type="button" class="btn btn-success"> Leave Comment</button>
          </div>
        </form>
      </div>

      <div class="col-md-4 col-md-offset-1">
        <a class="twitter-timeline" href="https://twitter.com/TYPYCYL" data-widget-id="534077405988528128">Tweets by @TYPYCYL</a>
      </div>
    </div>
  </div>
</div>
</div>

</div>
