<div id="resume">
  <!-- resume -->
</div>

<div id="portfolio">
  <!-- github link -->
  <!-- projects area -->
</div>

<div id="about">
  <!-- pos -->
  <!-- background -->
  <!-- intrests -->
</div>

<div id="contact">
  <!-- info -->
  <!-- nodemailer -->
  <!-- t feed -->
</div>
